{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="index.html"><img src="{% static "dashboard/assets/images/logo/logo1.png" %}" alt="logo" style="width: 50px;"/></a>
      <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="{% static "dashboard/assets/images/logo/logo3.png" %}" alt="logo" style="width: 30px;"/></a>
    </div>
    <ul class="nav">
      
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url "dashboard:home" %}">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-currency-ngn"></i>
          </span>
          <span class="menu-title">Make a Transaction</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url "dashboard:topup" %}">Top up airtime and data</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "dashboard:electricity" %}">Pay electricity bills</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "dashboard:tv" %}">TV subscriptions</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "dashboard:travel" %}">Book travel tickets</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "dashboard:hotel" %}">Settle hotel bills</a></li>
            
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Transaction History</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-settings"></i>
          </span>
          <span class="menu-title">Account Settings</span>
        </a>
      </li>
      

      <div class="dropdown-divider"></div>



      
      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-code-not-equal-variant"></i>
          </span>
          <span class="menu-title">Developers Area</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
          </span>
          <span class="menu-title">Business Area</span>
        </a>
      </li>


    </ul>
  </nav>