<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Bill Center | Email Verification </title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/logo/logo6.png" type="image/png">

    <link rel="stylesheet" href="assets/css/signup.css">
    <link rel="stylesheet" href="assets//css/bootstrap.min.css">

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body class="body-background">
  <div class="form-container">

    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="assets/images/login-images/frontImg.jpg" alt="">
        <div class="text">
          <img src="assets/images/logo/logo1.png" alt="" style="width: 40%; height: 40%; margin: auto;">
        </div>
      </div>
      
    </div>
        <div class="forms">
            <div class="form-content">
            
                <div class="signup-form">
                    <center>
                        <a href="index.html">
                        <img src="assets/images/logo/logo6.png" alt="" style="width: 60px; height: 60px;">
                        </a>
                    </center>
                    <br>
                    <center>
                        <h3>Email verification</h3>
                    </center>
                    
                <form action="#">
                    <div class="input-boxes">
                        <center>
                            <label for="">Enter the OTP code sent to your email</label>
                        </center>
                        <br>
                        <div class="otpcode-field">
                            <input type="number" class="form-control" placeholder="OTP code">
                        </div>
                        
                    <!-- <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="number" placeholder="OTP code" required>
                    </div>
                     -->
                    <div class="button input-box">
                        <input type="submit" value="Sumbit">
                    </div>

                    <!-- <div class="text sign-up-text">Already have an account? <label><a href="login.html">Login now</a></label></div>
                    </div> -->
                </form>
            </div>

        </div>
    </div>
  </div>
</body>
</html>
